
  <header id="header" class="d-flex align-items-center">
    <div class="container d-flex align-items-center justify-content-between">
        <a href="index.html" class="logo mr-auto"><img src="../../assets/img/ups.png" alt=""></a>

      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto active" routerLink="/">Inicio</a></li>
          <li><a class="nav-link scrollto" routerLink="/categorias">Rutas Por Categoría</a></li>
          <li><a class="nav-link scrollto" routerLink="">Contactos</a></li>
          <li><a class="nav-link scrollto" routerLink="/registro">Registro</a></li>
        </ul>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header --> 