
<div class="container px-4 text-center ">
    <div class="row gx-5">
        <div class="card" style="width: 18rem;">
            <img src="../../assets/img/norte.png" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Norte a Sur</h5>
                <p class="card-text">Se muetran las rutas existentes</p>
                <a [routerLink]="['/rutas', 'NORTE']" class="btn btn-primary">Entrar</a>
            </div>
        </div>
        <div class="card" style="width: 18rem;">
            <img src="../../assets/img/valle.png" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Valle a Sur</h5>
                <p class="card-text">Se muetran las rutas existentes</p>
                <a [routerLink]="['/rutas', 'VALLE']" class="btn btn-primary">Entrar</a>
            </div>
        </div>
    </div>
</div><br>