<table class="table table-bordered border-warning">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Sector</th>
            <th scope="col">Categoría</th>
            <th scope="col">Descripción</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let ruta of rutasService.rutas; let i = index">
            <td>{{ i + 1 }}</td>
            <td>{{ruta.sector}}</td>
            <td>{{ruta.categoria}}</td>
            <td>{{ruta.descripcion}}</td>
        </tr>
    </tbody>
</table>