<h1 class="text-center">Personas que usan tu Misma Ruta</h1>
<table class="table table-bordered border-warning">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Sector</th>
            <th scope="col">Descripción</th>
            <th scope="col">Estudiantes</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let ruta of rutasService.rutas; let i = index">
            <td class="align-middle">{{ i + 1 }}</td>
            <td class="align-middle">{{ruta.sector}}</td>
            <td class="align-middle">{{ruta.descripcion}}</td>
            <td class="align-middle"><ul *ngFor="let nombres of estudianteService.estudiantes">
                <li>{{nombres.nombres}}</li>
            </ul></td>
        </tr>
    </tbody>
</table>